@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.status-active {
  @apply bg-warning
}

.status-prospect {
  @apply bg-primary
}

.status-completed {
  @apply bg-success
}

.status-none {
  @apply bg-gray-400
}